html, body { 
    margin: 0; 
} 
:root { 

} 
body{ 
    color: rgb(253, 253, 253); 
    background: #1a3c40;
    
} 
.wrapper{ 
} 
.container{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
.box {
    border: 8px solid #0f2325ab; /* устанавливаем рамку бокса */
    padding: 25px; /* добавляем отступ внутри бокса */
    background-color: #1633366c; /* устанавливаем фоновый цвет бокса */
    border-radius: 20px;
    margin-top: 20px;
    
}

.header { 
    padding: 15px 0px 15px 30px; 
    background-color: #0f2325ab; 
}
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.icon-title {
    padding: 0px 0px 0px 0px;
    z-index: 1;
    margin:20px 40px 0px 200px;
    position: relative;
}
.icon-title div{
    color: #fff;
    transform: translate(-50%,-20%);
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

.icon-title div:nth-child(1){
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #faff64c5;
}

.icon-title div:nth-child(2){
    color: #faff64c5;
    animation: animate 2.8s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
        54% 60%, 70% 61%, 84% 59%, 100% 52%,
        100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%,
        51% 62%, 67% 50%, 84% 45%, 100% 46%,
        100% 100%, 0% 100%);
    }
}
.header__list { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0px 0px 0px -30px; 
    z-index: 2;
    
} 
.header__list li{  
    list-style: none; 
    margin: 0px 50px 0px 0px;
    font-family: 'Playfair Display', serif;
} 
.header__link { 
    color: #eeeeecde; 
    text-transform: uppercase; 
    font-size: 15px;
    text-decoration: none;
    display : inline-block;
    position :relative;
    color :#fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4 all ease;
}
.header__link:hover{
    color:#cbcfcf;
    transition: 0.4 all ease;
}
.header__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #faff64c5;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.header__link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}
.header__body { 
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

} 
.header__logo { 
    display: flex;
    align-items: center;
    z-index: 3;

    
} 
.header__logo img{ 
    height: 60px; 
    width: 60px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: block;    
} 
footer {
    background-color: #1a3c40;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #faff649c; 
}


body {
    font-family: 'Roboto Mono', monospace;


}  
.footer-content {
    display: flex;
    height: 10px;
}
footer p {
    margin: 30px 10px 0px 0px;
}
.header__menu {
    
} 

.content {
    margin: 0px 10px 0px 10px;
}
.content__text {
    font-size: 20px;
    list-style: 20px;

}
.card {
    display: inline-block;
    overflow: visible;
    width: 190px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #1a3c40;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #faff649c, #faff64ad, #faff64cc, #faff64, transparent);
    animation: rotation_481 4700ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #11282b;
    border-radius: 5px;
    color: #faff649c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: #faff649c;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  button {
    font-family: monospace;
    background-color: #1a3c40;
    color: #faff649c;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
  }
  
  button:hover {
    background-color: #1a3c40;
    box-shadow: 0 0 0 5px #faff649c;
    color: #faff649c;
  }
.cube {
    background-image: url("/img2/cube.svg");
}